<!DOCTYPE html>
<html>
<head>
  <title>Hw</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<td><%= link_to "Venues", venues_path %></td>
<td><%= link_to "Events", events_path %></td>
<%= yield %>

</body>
</html>
